PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=learning_platform
OPENAI_API_KEY=sk-proj-your-openai-api-key-here
AI_PROVIDER=openai